body, html{

    height: 100%;
}
body {
    margin: 0; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column
}

#navbar{
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    margin-right: 20px;
    margin-top: 20px; 
    font-size: 13px;
}
.toplink:hover{
    text-decoration: underline;
}
#navbar button:hover{
    background-color: rgb(6, 122, 218);
 
}

#navbar button{
    margin-right: 22px;
    margin-top: 8px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    padding-left: 26px;
    padding-right: 26px; 
    background-color: rgb(6, 108, 192); 
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    
}

#middle{
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

 
}
#logo{
    text-align: center;
}
#searchbarContainer{
    text-align: center;
    position: relative; 
}
#magnifier, #microphone{
    position: absolute;
    top:0; 
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    
}

#magnifier{
    left: 0;
    margin-left: 15px;
}

#microphone{
    right: 0;
    margin-right: 15px;
}
#searchbar{
    margin-top: 20px;
    outline: none; 
    width: 550px; 
    height: 40px; 
    border-radius: 50px;
    border-width: 1px;
    border-color: rgba(216, 209, 209, 0.966);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

#searchbar:hover{
    box-shadow: 1px 1px 7px  gray;
}

#searchButtonContainer{
    text-align: center;
    margin-top: 30px;

}

.searchButton{
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(223, 223, 223, 0.226);
    font-size: 14px;
    color: rgb(63, 63, 63);

}

.searchButton:hover{
    border: 1px solid rgba(209, 205, 205, 0.74);
    padding: -1px;
}

#footer{
    padding: 13px;
    color: gray;
    
    
    
    background-color: rgb(228, 228, 228);
}


.bottomright{
    float: right;
    margin-right: 30px;
   
}

.bottomleft{
    float: left; 

    margin-left: 30px;
}

#bottomlink:hover{
    text-decoration: underline;

}